body.focus-page-background {
  background-image: url("/src/images/background6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.home-button:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #333;
}

.timer-circle {
    position: relative;
    width: 22rem;
    height: 22rem;
    margin: 1rem auto 1rem;
  
  
  }

  .focus-page .header{
margin-top: 4.5rem ;
font-family: 'Poppins', sans-serif;

  }
 .focus-timer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
 }

 .focus-timer h3{
  font-family: 'Poppins', sans-serif;

 }
 .focus-page h3 span{
  color: rgb(72, 25, 143);
 }

  .progress-background {
    position: absolute;
    inset: 0;
    border: 8px solid white;
    border-radius: 50%;
  }
  
  .progress-ring {
    position: absolute;
    inset: 0;
    transform: rotate(-90deg);
  }
  
  .progress-ring circle {
    fill: none;
    stroke: #3b82f6;
    stroke-width: 8;
    transition: stroke-dashoffset 0.3s;
  }

  .time-and-status{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .time-display{
    color:#3b82f6;
    text-align: center;
    font-family: monospace;
  }